<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/api.js"></script>
    <link rel="stylesheet" href="/css/company.css">
    <title>Document</title>

    <button onclick="getAndDisplay('/api/employees')">GET /employees</button>

    <div class="data">

    </div>

</head>
<body>
    
</body>
</html>