<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Api APP</title>
</head>
<body onload="loadEmployees();">
    <div class="display">hmmm</div>
    <template>
        <div class="card">
            <img src="" alt="">
            <p>_name_</p>
        </div>
    </template>

    <div class="employees"></div>
</body>
<script src="js/api.js"></script>
</html>